*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt

# Ignore local settings
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

public/uploads
public/assets
public/avatars

/.powenv

/coverage
.tddium*
.DS_Store
