<section class="main-section blog-section" id="blog-posts">
  <% @posts.each do |post| %>
    <%= render "post_#{post.type}", post: post %>
  <% end %>
</section>

<% if Settings.disqus.enabled %>
<script async>
  var type = '<%= @single ? 'embed' : 'count' %>';
  var dsq = document.createElement('script');
  dsq.type = 'text/javascript';
  dsq.async = true;
  dsq.src = 'http://<%= Settings.disqus.shortname %>.disqus.com/' + type + '.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
</script>
<% end %>
