<section class="main-section blog-section" id="blog-posts">
  <%= render "post_#{@post.type}", post: @post %>
</section>

<% title @title %>

<% if Settings.disqus.enabled %>
<script async>
  var disqus_identifier = '<%= @post.id %> %>';
  <% if @title %>var disqus_title = '<%= @title %>';<% end %>
  var dsq = document.createElement('script');
  dsq.type = 'text/javascript';
  dsq.async = true;
  dsq.src = 'http://<%= Settings.disqus.shortname %>.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
</script>
<% end %>
