<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 15px;
      color: #404040;
    }
  </style>
</head>
<body>

<div class="container">
  <h3>New message</h3>
  <p>From: <%= @from %></p>
  <div class="contents">
    <%= raw @message %>
  </div>
</div>

</body>
</html>
